In [1]:
import pandas as pd

In [171]:
fire = pd.read_csv('C:/Users/HJ/Desktop/자료모음/2.temp_origin(werehouse)/전처리/산불/2021_fire_final.csv')

In [172]:
fire.head(3)

,Unnamed: 0,Unnamed: 0.1,damagearea,day,start,end,firecause,do,sigungu,eupmyeon,dongri,bunji,time,temp,rain,wind,wind_direction,humidity
0,0,0,0.30,2021-01-01 12:34,2021-01-01 12:34,2021-01-01 16:30,입산자실화,경기도,남양주,수동,송천,산180-1,0 days 03:56:00,0.1,0.0,1.3,250.0,77.0
1,1,1,0.07,2021-01-01 17:54,2021-01-01 17:54,2021-01-01 19:10,주택화재비화,경기도,광주,남종,삼성,산53-30,0 days 01:16:00,0.2,0.0,1.7,290.0,89.0
2,2,2,0.03,2021-01-02 12:45,2021-01-02 12:45,2021-01-02 13:34,기타,경기도,파주,군내,읍내,산141,0 days 00:49:00,1.6,0.0,4.5,290.0,40.0

In [173]:
fire.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1, inplace=True)

In [174]:
busan = pd.read_csv('C:/Users/HJ/Desktop/자료모음/2.temp_origin(werehouse)/복제/기상/지역별기상/2017-21_busan.csv')
chungbuk = pd.read_csv('C:/Users/HJ/Desktop/자료모음/2.temp_origin(werehouse)/복제/기상/지역별기상/2017-21_chungbuk.csv')
chungnam = pd.read_csv('C:/Users/HJ/Desktop/자료모음/2.temp_origin(werehouse)/복제/기상/지역별기상/2017-21_chungnam.csv')
daegu = pd.read_csv('C:/Users/HJ/Desktop/자료모음/2.temp_origin(werehouse)/복제/기상/지역별기상/2017-21_daegu.csv')
daejeon = pd.read_csv('C:/Users/HJ/Desktop/자료모음/2.temp_origin(werehouse)/복제/기상/지역별기상/2017-21_daejeon.csv')
gangwon = pd.read_csv('C:/Users/HJ/Desktop/자료모음/2.temp_origin(werehouse)/복제/기상/지역별기상/2017-21_gangwon.csv')
gwangju = pd.read_csv('C:/Users/HJ/Desktop/자료모음/2.temp_origin(werehouse)/복제/기상/지역별기상/2017-21_gwangju.csv')
gyeonggi = pd.read_csv('C:/Users/HJ/Desktop/자료모음/2.temp_origin(werehouse)/복제/기상/지역별기상/2017-21_gyeonggi.csv')
gyeongbuk = pd.read_csv('C:/Users/HJ/Desktop/자료모음/2.temp_origin(werehouse)/복제/기상/지역별기상/2017-21_gyeongbuk.csv')
gyeongnam = pd.read_csv('C:/Users/HJ/Desktop/자료모음/2.temp_origin(werehouse)/복제/기상/지역별기상/2017-21_gyeongnam.csv')
incheon = pd.read_csv('C:/Users/HJ/Desktop/자료모음/2.temp_origin(werehouse)/복제/기상/지역별기상/2017-21_incheon.csv')
jeju = pd.read_csv('C:/Users/HJ/Desktop/자료모음/2.temp_origin(werehouse)/복제/기상/지역별기상/2017-21_jeju.csv')
jeonbuk = pd.read_csv('C:/Users/HJ/Desktop/자료모음/2.temp_origin(werehouse)/복제/기상/지역별기상/2017-21_jeonbuk.csv')
jeonnam = pd.read_csv('C:/Users/HJ/Desktop/자료모음/2.temp_origin(werehouse)/복제/기상/지역별기상/2017-21_jeonnam.csv')
seoul = pd.read_csv('C:/Users/HJ/Desktop/자료모음/2.temp_origin(werehouse)/복제/기상/지역별기상/2017-21_seoul.csv')
ulsan = pd.read_csv('C:/Users/HJ/Desktop/자료모음/2.temp_origin(werehouse)/복제/기상/지역별기상/2017-21_ulsan.csv')

In [175]:
combined = pd.concat([busan,chungbuk, chungnam, daegu, daejeon, gangwon, gwangju,gyeonggi, gyeongbuk, gyeongnam, incheon, jeju, jeonbuk,jeonnam, seoul, ulsan ])

In [176]:
fire.head(3)

,damagearea,day,start,end,firecause,do,sigungu,eupmyeon,dongri,bunji,time,temp,rain,wind,wind_direction,humidity
0,0.30,2021-01-01 12:34,2021-01-01 12:34,2021-01-01 16:30,입산자실화,경기도,남양주,수동,송천,산180-1,0 days 03:56:00,0.1,0.0,1.3,250.0,77.0
1,0.07,2021-01-01 17:54,2021-01-01 17:54,2021-01-01 19:10,주택화재비화,경기도,광주,남종,삼성,산53-30,0 days 01:16:00,0.2,0.0,1.7,290.0,89.0
2,0.03,2021-01-02 12:45,2021-01-02 12:45,2021-01-02 13:34,기타,경기도,파주,군내,읍내,산141,0 days 00:49:00,1.6,0.0,4.5,290.0,40.0

In [177]:
combined.drop('Unnamed: 0', axis=1, inplace=True)
combined

,do,observatory,day,temp,rain,wind,humidity,temp_5,rain_5,wind_5,humidity_5
0,부산광역시,부산,2017-01-01,6.5,0.0,2.6,58.0,3.52,0.52,3.14,44.96
1,부산광역시,부산,2017-01-02,9.5,0.0,2.7,55.4,3.96,0.00,2.82,45.28
2,부산광역시,부산,2017-01-03,7.9,0.0,2.6,46.0,5.12,0.00,2.76,46.36
3,부산광역시,부산,2017-01-04,8.1,0.0,2.3,44.4,6.20,0.00,2.74,48.26
4,부산광역시,부산,2017-01-05,7.8,0.7,3.5,71.0,7.34,0.00,2.58,51.46
...,...,...,...,...,...,...,...,...,...,...,...
1821,울산광역시,울산,2021-12-27,-1.7,0.0,3.3,36.5,2.48,0.00,2.76,35.26
1822,울산광역시,울산,2021-12-28,3.2,0.0,1.4,61.0,0.72,0.00,3.02,33.04
1823,울산광역시,울산,2021-12-29,4.8,0.0,1.5,52.9,-0.04,0.00,2.88,38.26
1824,울산광역시,울산,2021-12-30,1.8,0.0,2.8,35.6,-0.46,0.00,2.86,39.56
1825,울산광역시,울산,2021-12-31,-1.5,0.0,3.4,22.9,0.44,0.00,2.56,41.82

In [178]:
combined.reset_index(inplace=True)

In [182]:
combined.drop('index', axis=1, inplace=True)

In [183]:
fire['temp_5']=''
fire['rain_5']=''
fire['wind_5']=''
fire['humidity_5']=''

In [184]:
combined

,do,observatory,day,temp,rain,wind,humidity,temp_5,rain_5,wind_5,humidity_5
0,부산광역시,부산,2017-01-01,6.5,0.0,2.6,58.0,3.52,0.52,3.14,44.96
1,부산광역시,부산,2017-01-02,9.5,0.0,2.7,55.4,3.96,0.00,2.82,45.28
2,부산광역시,부산,2017-01-03,7.9,0.0,2.6,46.0,5.12,0.00,2.76,46.36
3,부산광역시,부산,2017-01-04,8.1,0.0,2.3,44.4,6.20,0.00,2.74,48.26
4,부산광역시,부산,2017-01-05,7.8,0.7,3.5,71.0,7.34,0.00,2.58,51.46
...,...,...,...,...,...,...,...,...,...,...,...
27755,울산광역시,울산,2021-12-27,-1.7,0.0,3.3,36.5,2.48,0.00,2.76,35.26
27756,울산광역시,울산,2021-12-28,3.2,0.0,1.4,61.0,0.72,0.00,3.02,33.04
27757,울산광역시,울산,2021-12-29,4.8,0.0,1.5,52.9,-0.04,0.00,2.88,38.26
27758,울산광역시,울산,2021-12-30,1.8,0.0,2.8,35.6,-0.46,0.00,2.86,39.56
27759,울산광역시,울산,2021-12-31,-1.5,0.0,3.4,22.9,0.44,0.00,2.56,41.82

In [185]:
for i in range(len(fire)):
    for j in range(len(combined)):
        if (fire['do'][i] == combined['do'][j]) and (fire['day'][i][:10] == combined['day'][j]):
            fire['temp_5'][i] = combined['temp_5'][j]
            fire['rain_5'][i] = combined['rain_5'][j]
            fire['wind_5'][i] = combined['wind_5'][j]
            fire['humidity_5'][i] = combined['humidity_5'][j]
        else:
            pass

C:\Users\HJ\AppData\Local\Temp/ipykernel_1952/3615451926.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fire['temp_5'][i] = combined['temp_5'][j]
C:\Users\HJ\AppData\Local\Temp/ipykernel_1952/3615451926.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fire['rain_5'][i] = combined['rain_5'][j]
C:\Users\HJ\AppData\Local\Temp/ipykernel_1952/3615451926.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fire['wind_5'][i] = combined['wind_5'][j]
C:\Users\HJ\AppData\Local\Temp/ipykernel_1952/3615451926.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fire['humidity_5'][i] = combined['humidity_5'][j]

In [186]:
fire

,damagearea,day,start,end,firecause,do,sigungu,eupmyeon,dongri,bunji,time,temp,rain,wind,wind_direction,humidity,temp_5,rain_5,wind_5,humidity_5
0,0.30,2021-01-01 12:34,2021-01-01 12:34,2021-01-01 16:30,입산자실화,경기도,남양주,수동,송천,산180-1,0 days 03:56:00,0.1,0.0,1.3,250.0,77.0,-2.86,0.06,1.58,67.66
1,0.07,2021-01-01 17:54,2021-01-01 17:54,2021-01-01 19:10,주택화재비화,경기도,광주,남종,삼성,산53-30,0 days 01:16:00,0.2,0.0,1.7,290.0,89.0,-2.86,0.06,1.58,67.66
2,0.03,2021-01-02 12:45,2021-01-02 12:45,2021-01-02 13:34,기타,경기도,파주,군내,읍내,산141,0 days 00:49:00,1.6,0.0,4.5,290.0,40.0,-5.06,0.06,1.58,67.74
3,0.01,2021-01-02 12:59,2021-01-02 12:59,2021-01-02 13:30,입산자실화,경기도,고양,덕양,대자,산148-2,0 days 00:31:00,1.6,0.0,4.5,290.0,40.0,-5.06,0.06,1.58,67.74
4,0.03,2021-01-03 11:38,2021-01-03 11:38,2021-01-03 18:00,기타,경기도,포천,신북,삼성당,산8-2,0 days 06:22:00,-0.2,0.0,3.3,290.0,39.0,-7.12,0.0,1.8,58.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,0.50,2021-12-29 14:20,2021-12-29 14:20,2021-12-29 17:30,기타,경상남도,남해,창선,가인,산162-1,0 days 03:10:00,9.2,0.0,4.1,250.0,64.0,-1.14,0.0,1.48,43.2
297,1.50,2021-12-29 2:42,2021-12-29 2:42,2021-12-29 15:45,주택화재비화,강원도,춘천,사북,가일,222-1,0 days 13:03:00,0.0,0.0,0.0,0.0,0.0,-0.68,6.58,2.68,46.5
298,0.10,2021-12-29 5:47,2021-12-29 5:47,2021-12-29 12:00,입산자실화,전라남도,완도,완도,장좌,산16-89,0 days 06:13:00,0.0,0.0,0.0,0.0,0.0,0.52,0.0,5.4,49.72
299,0.40,2021-12-30 11:16,2021-12-30 11:16,2021-12-30 12:30,기타,충청북도,청주,오송,상봉,산56-1,0 days 01:14:00,1.4,0.0,5.0,290.0,38.0,-6.46,0.04,1.4,60.68
300,0.50,2021-12-30 14:57,2021-12-30 14:57,2021-12-30 17:30,주택화재비화,경상북도,봉화,명호,양곡,산54-2,0 days 02:33:00,3.1,0.0,8.0,290.0,92.0,,,,

In [187]:
fire.to_excel('2021_fire_last.xlsx')

In [117]:
fire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 422 entries, 0 to 421
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   damagearea      422 non-null    float64
 1   day             422 non-null    object
 2   start           422 non-null    object
 3   end             422 non-null    object
 4   firecause       422 non-null    object
 5   do              422 non-null    object
 6   sigungu         422 non-null    object
 7   eupmyeon        422 non-null    object
 8   dongri          422 non-null    object
 9   bunji           422 non-null    object
 10  time            422 non-null    object
 11  temp            422 non-null    float64
 12  rain            422 non-null    float64
 13  wind            422 non-null    float64
 14  wind_direction  422 non-null    float64
 15  humidity        422 non-null    float64
 16  temp_5          422 non-null    object
 17  rain_5          422 non-null    object
 18  wind_5          422 non-null    object
 19  humidity_5      422 non-null    object
dtypes: float64(6), object(14)
memory usage: 66.1+ KB

In [51]:
fire.isnull().sum()

damagearea        0
day               0
start             0
end               0
firecause         0
do                0
sigungu           0
eupmyeon          0
dongri            0
bunji             0
time              0
temp              0
rain              0
wind              0
wind_direction    0
humidity          0
temp_5            0
rain_5            0
wind_5            0
humidity_5        0
dtype: int64

In [60]:
fire = fire.fillna(method='ffill')

In [71]:
fire.to_csv('2017_fire_last.csv')